.env
.env.*
!.env.example

venv/
.venv/
env/
__pycache__/
*.py[cod]
*.pyo
*.egg-info/

.git/
.gitignore
.pytest_cache/
.ruff_cache/
.mypy_cache/

tests/
docs/
pgdata/
qdrant_storage/
*.log

.vscode/
.idea/
Thumbs.db
Desktop.ini
.DS_Store
